{
  "presets": [ ["latest", { "es2015": { "modules": false, "loose": true }}], "react", "stage-2" ],
  "plugins": ["transform-runtime"],
  "env": {
    "development": {
      "plugins": ["react-hot-loader/babel"]
    }
  }
}